{% load static %}

<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <title>Soundboard</title>
    <meta charset="utf-8" />
</head>

<body>
    <ul class="menu">
        <li><a href="{% url 'sounds:index' %}" class="button">Accueil</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}" class="button">Se déconnecter</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}" class="button">Se connecter</a></li>
        {% endif %}
    </ul>

    {% if user.is_authenticated %} Hello {{ user }} {% endif %}

    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>
