{% extends 'sounds/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Soundboard</h1>

                <p>
                    Bienvenue sur Soundboard, l'hébergement 2.0 pour les amateurs de sons bons comme un bon bourbon !
                </p>

                <p>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:signup' %}">Créer un compte</a> ou bien <a href="{% url 'accounts:login' %}">connectez vous</a>.
                    {% else %} 
                    N'hésitez pas à uploader vos meilleurs sons en <a href="{% url 'sounds:new-box' %}">créant votre soundbox</a> !
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Sons récents</h2>

        <p>Quelques sons récemment proposés par nos membres</p>

        <div class="col-xs-12">
            <ul>
                {% for sound in object_list %}
                <li><a href="{% url 'sounds:detail' sound.pk %}">{{ sound.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock content %}