{% extends 'sounds/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ object.title }}</h1>

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <audio class="media-object" controls autoplay>
                            <source src="{{ object.file.url }}" type="audio/mpeg" />
                        </audio>
                    </a>

                </div>

                <div class="media-body">
                    <p>{{ object.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}